<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Supa Dupa Projekt</title>

<link type="text/css" rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>