<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/header %>
</head>
<body>
	<div class="container">
		<h1>Hersteller Übersicht</h1>
		<form method="post" action="/hersteller">
			<div class="form-group">
				<label>Herstellername:</label>
				<input type="text" name="hersteller" class="form-control" placeholder="Z.B. Suzuki, Mazda, Skoda ..." required>
			</div>
			<button type="submit" class="btn btn-success">Hinzufügen</button>
		</form>
	</div>
</body>
</html>