<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/header %>
</head>
<body>
	<div class="container">
		<h1>Automodell hinzufügen</h1>
		<form method="post" action="/hersteller/autos/<%= url %>/add">
			<div class="form-group">
				<label>Name:</label>
				<input type="text" name="name" class="form-control" placeholder="Bezeichnung des Autos" required>
			</div>
			<div class="form-group">
				<label>Verbrauch pro km in l</label>
				<input type="number" name="verbrauch" class="form-control" placeholder="zb 4" required>
			</div>
			<button type="submit" class="btn btn-success">Hinzufügen</button>
		</form>
	</div>
</body>
</html>