<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/header %>
</head>
<body>
	<div class="container">
		<h1>Hersteller Übersicht</h1>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Aktionen</th>
				</tr>
			</thead>
			<tbody>
				<% if(result.length > 0){ %>
					<% for(var i in result){ %>
						<tr>
							<td><%= parseInt(i) + 1 %></td>
							<td><%= result[i].name %></td>
							<td><a href="/hersteller/autos/<%= result[i].id %>" class="btn btn-small btn-info">Autos anzeigen</a> <a href="/hersteller/del/<%= result[i].id %>" class="btn btn-danger">Löschen</a></td>
						</tr>
					<% } %>
				<% } else { %>
					<tr>
						<td colspan="3">Keine Daten hinzugefügt</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<a href="/hersteller" class="btn btn-info">Hersteller hinzufügen</a>
	</div>
</body>
</html>