<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/header %>
</head>
<body>
	<div class="container">
		<h1><%= result.name %></h1>
		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Name</th>
					<th>Verbrauch pro km in l</th>
					<th>Löschen</th>
				</tr>
			</thead>
			<tbody>
				<% if(result.models.length > 0){ %>
					<% for(var i = 0; i < result.models.length; i++){ %>
						<tr>
							<td><%= parseInt(i) + 1 %></td>
							<td><%= result.models[i].name %></td>
							<td><%= result.models[i].verbrauch %></td>
							<td><a href="/hersteller/autos/<%= result.id %>/delete/<%= result.models[i].id %>" class="btn btn-danger">Löschen</a></td>
						</tr>
					<% } %>
				<% } else { %>
					<tr>
						<td colspan="3">Keine Automodelle vorhanden</td>
					</tr>
				<% } %>
			</tbody>
		</table>
		<a href="/hersteller/autos/<%= result.id %>/add" class="btn btn-info">Modell hinzufügen</a>
		<a href="/" class="btn btn-warning">Zurück</a>
	</div>
</body>
</html>